.voice {
  width: 100vw;
  padding: 5.5rem;
}

.voice .container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  line-height: 3rem;
  height: 40vh;
}

.voice .subtitle {
  font-weight: bold;
  font-size: 2rem;
}

.voice .subtitle:nth-child(2) {
  margin-left: 2rem;
}
