@import './base/reset';

@import './setting/config';
@import './setting/function';

@import './mixin/mq';

@import './module/button.scss';
@import './module/fadein.scss';
@import './module/popup.scss';

// 共通クラス

.title {
	position: relative;
	font-weight: 600;
	font-size: 2rem;
	text-align: center;
	margin-bottom: 4.5rem;

	&::after {
		content: '';
		position: absolute;
		border-bottom: solid 3px colors(title-border);
		width: 4.5rem;
		bottom: -1rem;
		left: 50%;
		transform: translate(-50%, 0);
	}
}

.vertical {
	writing-mode: vertical-rl;
	text-orientation: upright;
}

.only_sp {
	display: none!important;
}

@include mq(sp) {
	.only_sp {
		display: block!important;
	}
	.only_pc {
		display: none!important;
	}
}