@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;700;900&family=Zen+Kurenaido&display=swap");
body {
  font-family: 'Noto Sans JP', sans-serif;
}

.footer {
  padding: 2rem;
  color: #FFFFFF;
  font-size: 1.2rem;
  background-color: #9BACC8;
  text-align: center;
}

.footer .left {
  width: 50%;
}

.footer .right {
  width: 50%;
}

.footer .container {
  display: flex;
  justify-content: center;
  flex-direction: unset;
  align-items: center;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .footer {
    font-size: 0.6rem;
  }
}
