@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;700;900&family=Zen+Kurenaido&display=swap");
body {
  font-family: 'Noto Sans JP', sans-serif;
}

.footer .left {
  width: 50%;
}

.footer .right {
  width: 50%;
}

.footer .container {
  display: flex;
  justify-content: space-around;
  flex-direction: unset;
}
