@mixin container($name) {
	@if $name == voice {
		display: flex;
		flex-direction: row-reverse;
		justify-content: center;
		line-height: 3rem;
		height: calc(1.2vw * 35);

	} @else if $name == value {
		@include flex(space-around);

	} @else if $name == profile {
		@include flex;

	} @else if $name == achivement {

	} @else if $name == news {
		@include flex(space-around);
	}
}