@import '../../setting/config';
@import '../../setting/function';
@import '../../setting/common';

@import '../../mixin/left_right';

@import '../../mixin/container';
@import '../../mixin/subtitle';
@import '../../mixin/flex';

.profile {
	@extend %common;
	@include left_right(50%, 50%, 2rem 0 0 3rem);
	@include mq(sp) {
		@include left_right(100%, 100%, unset);
	}
	@import './block/container_subtitle';
	@import './block/right';
}