@import '../../setting/config';
@import '../../setting/common';

@import '../../mixin/container';
@import '../../mixin/subtitle';

.form {
	@extend %common;
	@import './block/container_subtitle';
	background: colors(background);
	&_input {
		margin: 1rem 0;
		&:nth-child(3) {
			textarea {
				height: 12vh;
			}
		}
		input, textarea {
			border: solid 1px black;
			border-radius: 10px;
			width: 100%;
			padding: 0.5rem;
		}
	}
	&_container {
		display: flex;
		flex-direction: column;
		width: 50%;
		margin-left: 50%;
		transform: translate(-50%, 0);
	}
	.submit {
		text-align: center;
		background: colors(title-border);
		width: 60%;
		margin-left: 50%;
		transform: translate(-50%,0);
		color: white;
		transition: all 0.5s;
		border-radius: 15px;
		padding: 0.5rem 0;
		button {
			vertical-align: middle;
			width: 100%;
			height: 100%;
		}
		&:hover {
			opacity: 0.5;
		}
	}
}

@include mq(sp) {
	.form {
		&_container {
			width: 100%;
		}
	}
}

