@for $i from 0 through 2 {
	.card#{$i + 1} {
		width: 17rem;
		background-color: colors(reset);
		position: relative;
		height: 27rem;
		margin-top: $i * 4rem;
		@include mq(sp) {
			width: unset;
			margin-top: 6rem;
		}
	}
}

.card {
	&_title {
		color: colors(value-caption-title);
		font-weight: 600;
		text-align: center;
		font-size: 1.5rem;
		margin: 1.5rem 0;
	}
	&_caption {
		color: colors(caption);
		padding: 0 1.5rem;
	}
	&_num {
		color: colors(sub-font);
		font-size: 4.5rem;
		top: -1rem;
		position: absolute;
		z-index: 0;
	}
}