@charset "UTF-8";
/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;700;900&family=Zen+Kurenaido&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;700;900&family=Zen+Kurenaido&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

.calendar-container-embed .hour {
  height: 60px;
  pointer-events: none;
  line-height: 60px;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  font-size: 1.2vw;
  line-height: 1.8rem;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
  max-width: 100vw;
  scroll-behavior: smooth;
}

@media screen and (max-width: 766px) {
  html {
    font-size: 4vw;
    line-height: 1.6rem;
  }
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
  color: colors(font);
  font-weight: 400;
  letter-spacing: 1px;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  margin: 0;
  font-weight: 100;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: 600;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: 600;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  top: -9px;
  font-size: 0.8rem !important;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  appearance: none;
  vertical-align: middle;
  color: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type="checkbox"] {
  -webkit-appearance: checkbox;
  appearance: checkbox;
}

[type="radio"] {
  -webkit-appearance: radio;
  appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
}

button:disabled,
[type="button"]:disabled,
[type="reset"]:disabled,
[type="submit"]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type="search"] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit;
  /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: center;
}

th {
  text-align: left;
  font-weight: 600;
}

@media screen and (max-width: 766px) {
  sub {
    font-size: 2rem;
  }
}

body {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
}

.button {
  border: 1px solid #000000;
  padding: 0.7rem 3.5rem;
  margin: 1rem 0 0 1.5rem;
}

.fade_in_center {
  transition: 1s;
  opacity: 0;
  transform: translateX(0px);
}

.fade_in_center.active {
  transition: 1s;
  opacity: 1;
}

.fade_in_center.active {
  transform: translateX(0);
}

.fade_in_bottom {
  transition: 1s;
  opacity: 0;
  transform: translateY(40px);
}

.fade_in_bottom.active {
  transition: 1s;
  opacity: 1;
}

.fade_in_bottom.active {
  transform: translateY(0);
}

.fade_in_top {
  transition: 1s;
  opacity: 0;
  transform: translateY(-40px);
}

.fade_in_top.active {
  transition: 1s;
  opacity: 1;
}

.fade_in_top.active {
  transform: translateY(0);
}

.fade_in_left {
  transition: 1s;
  opacity: 0;
  transform: translateX(-40px);
}

.fade_in_left.active {
  transition: 1s;
  opacity: 1;
}

.fade_in_left.active {
  transform: translateX(0);
}

.fade_in_right {
  transition: 1s;
  opacity: 0;
  transform: translateX(40px);
}

.fade_in_right.active {
  transition: 1s;
  opacity: 1;
}

.fade_in_right.active {
  transform: translateX(0);
}

@media screen and (max-width: 767px) {
  .fade_in_left, .fade_in_right {
    transition: 1s;
    opacity: 0;
    transform: translateX(0px);
  }
  .fade_in_left.active, .fade_in_right.active {
    transition: 1s;
    opacity: 1;
  }
  .fade_in_left.active, .fade_in_right.active {
    transform: translateX(0);
  }
}

.c {
  text-align: center;
}

.overlay {
  /* グレーの背景 */
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  transition: all 0.5s 0s ease;
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#pop-up3, #pop-up2, #pop-up1 {
  display: none;
}

#pop-up3:checked + .overlay, #pop-up2:checked + .overlay, #pop-up1:checked + .overlay {
  visibility: visible;
  opacity: 1;
  z-index: 100000;
  background-color: #000000;
  width: 100%;
}

.popWindow {
  border-radius: 5px;
  overflow: auto;
  /* スクロールバー用 */
  max-height: 95%;
  /* すき間 */
  min-width: fit-content;
  /* 横幅が広い時に白の部分が大きくならないため */
  max-width: 95%;
  /* すき間 */
  position: fixed;
  top: 50%;
  /* 中央に */
  left: 50%;
  /* 中央に */
  transform: translate(-50%, -50%);
  /* 中央に */
  z-index: 100010;
  font-size: 13px;
  line-height: 18px;
  margin: 10px auto;
  padding: 4px 10px;
  background: #FFFD;
  /* 枠の色 */
  text-align: center;
  /* 文字を中央寄せ */
  transition: all 500ms ease-in-out;
}

.popWindow .ptitle {
  font-size: 15px;
  margin: 8px;
  color: #333;
}

.popWindow .close {
  position: absolute;
  top: 8px;
  right: 10px;
  transition: all 300ms;
  font-size: 24px;
  line-height: inherit;
  font-weight: bold;
  text-decoration: none;
  color: #000;
  padding: 2px;
}

.popWindow .close:hover {
  color: #06D85F;
}

@media screen and (max-width: 700px) {
  #pop-up1:checked + .overlay {
    visibility: hidden;
    opacity: 0;
  }
  #pop-up2:checked + .overlay {
    visibility: hidden;
    opacity: 0;
  }
  #pop-up3:checked + .overlay {
    visibility: hidden;
    opacity: 0;
  }
}

.title {
  position: relative;
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 4.5rem;
}

.title::after {
  content: '';
  position: absolute;
  border-bottom: solid 3px #C65955;
  width: 4.5rem;
  bottom: -1rem;
  left: 50%;
  transform: translate(-50%, 0);
}

.vertical {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.only_sp {
  display: none !important;
}

@media screen and (max-width: 767px) {
  .title {
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }
  .title::after {
    bottom: -0.6rem;
  }
  .only_sp {
    display: block !important;
  }
  .only_pc {
    display: none !important;
  }
}
