@mixin fadein($x, $y) {
	transition: 1s;
	opacity: 0;
	&.active {
		transition: 1s;
		opacity: 1;
	}
	@if $x == unset {
		transform: translateY($y);
		&.active {
			transform: translateY(0);
		}

	} @else {
		transform: translateX($x);
		&.active {
			transform: translateX(0);
		}
	}
}

.fade_in {
	&_center {
		@include fadein(0px, 0px);
	}
	&_bottom {
		@include fadein(unset, 40px);
	}
	&_top {
		@include fadein(unset, -40px);
	}
	&_left {
		@include fadein(-40px, unset);
	}
	&_right {
		@include fadein(40px, unset);
	}
}

@include mq(sp) {
	.fade_in_left, .fade_in_right {
		@include fadein(0px, 0px);
	}
}