@import './mq';

@mixin container($name) {
	@if $name == voice {
		display: flex;
		flex-direction: row-reverse;
		justify-content: center;
		line-height: 3rem;
		height: calc(1.2vw * 35);
		@include mq(sp) {
			height: unset;
			line-height: 1.5rem;
			height: 100%;
			display: block;
		}

	} @else if $name == value {
		@include flex(space-around);
		@include mq(sp) {
			display: block;
		}

	} @else if $name == profile {
		@include mq(sp) {
			display: block;
		}
		@include flex;

	} @else if $name == achivement {

	} @else if $name == news {
		@include flex(space-around);
		@include mq(sp) {
			display: block;
		}
	}
}
